.first-section{
    background-image: url(assets/bg/himg.jpg);
  padding: 200px;
  text-align: center;
}
#logo{
    position: relative;
    bottom: 50px;

}
#mouse{
  position: relative;
  top: 150px;
}