.first-section{
    background-image: url(assets/bg/himg.jpg);
  padding: 200px;
  text-align: center;
  color: white;
}
#logo{
    position: relative;
    bottom: 50px;

}
#mouse{
  position: relative;
  top: 150px;
}
.second-section{
    text-align: center;
    padding: 50px;
}
.third-section{
    text-align: center;
    background-image: url(assets/bg/simage.jpg);
    padding: 150px;
    color: white;
}
.fourth-section{
  margin-top: 80px;
    
    
}

#icons{
    text-align: center;
    position: relative;
    left: 100px;
}
#one{
    padding: 30px;
    margin-left: 30px;
}
.fifth-section{
    margin-top: 80px;


}
#abt{
text-align: center;
}
.sixth-section{
    background-image: url(assets/bg/cimage.jpg);
    
}
form{
    padding: 100px;
}
.section-seven{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  
}
#contact{
    text-align: center;
    padding-top:50px;
    color: white;
}
.product-one, .dev-one, .design-one{
    display: none;
    font-family: 'Copse', serif;
    font-size: 16px;
    
    text-align: center;
  }

  .text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8{
      display:none;
      background-color: white;
      position: relative;
      bottom: 150px;
      text-align: center;
      width: 100%;
      
      
  }
  
  .portfolio{
      margin-left: 50px;
      margin-right: 50px;
  }
  
  #footer{
     position: relative;
      top: 30px;
      
      text-align: center;
  }